/* color
 #46E097
#DAF9F6
#FBFEFF
small circle
159px
163px;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
::selection{
    color: white;
    background-color: #eb7bcd;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    font-family: "Roboto", sans-serif;
    position: relative;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    /* position: absolute; */
    /* top: 0; */
    /* background: linear-gradient(to right, #5f2c82, #49a09d); */
    background-color: #EEE;
    border-bottom: 3px solid rgba(192, 192, 192,1)
}
nav .logo img{
    width: 50px;
    height: 40px;
}
nav h3{
    font-family: 'Dancing Script', cursive;
    font-size: 27px;
    font-weight: 600;
    color: #eb7bcd;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.container .main-box:last-child{
    box-shadow: 2px 4px 2px 4px rgba(248, 148, 218, 0.65);
}
.main-box{
    width: 300px;
    height: 250px;
    box-shadow: 2px 4px 2px 4px rgba(70, 224, 151, 0.65);
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}
.container .main-box:last-child .big-circle{
    border: 10px solid  rgba(246, 131, 212, 0.65);

}
.container .main-box:last-child .small-circle{
    border: 10px solid #f1e6ee;
}
.container .main-box:last-child .heading-work{
    color: #eb7bcd;
    font-weight: 500;
}
.big-circle{
    width: 150px;
    height: 150px;
    border: 10px solid #46E097;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.small-circle{
    width: 140px;
    height: 140px;
    border: 10px solid #DAF9F6;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    background-image: url("imagepro1.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.heading-name{
 margin: 3px 0;   
}

.heading-work{
    color: #46E097;
    font-weight: 500;
    margin: 3px 0;
}
p{
    padding: 0 20px;
    margin-bottom: 25px;
}

.follow_btn{
    text-decoration: none;
    background: #46E097;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px 1px rgba(70, 224, 151, 0.65);
}

.follow_btn:hover{
    color: #46E097;
    background: #DAF9F6;
    font-weight: 600;
}